<%= @imglink %>
<%= @width %>
<div class = "container">	
	<% 0.upto(@linkcount-1)  do |i| %>
		<a href="<%= @links[i] %>" target="_blank">
		<div class="item">

			<img src="<%= @imglink[i] %>">
			
				<h1><%= truncate(@link_titles[i].to_s , :length => 40, :omission => '..') %></h1>
			
			
		</div>
		</a>
	<% end %>
</div>